.watch-btn{

display:inline-flex;

align-items:center;

justify-content:center;

padding:14px 30px;

background:#E50914;

color:#fff;

border-radius:10px;

font-weight:bold;

transition:.3s;

}

.watch-btn:hover{

transform:translateY(-3px);

background:#ff2430;

}
