.episode{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 18px;
background:#171717;
border-radius:12px;
margin-bottom:12px;
transition:.3s;
}

.episode:hover{
background:#222;
}

.episode-number{
font-weight:700;
}

.play-btn{
padding:10px 18px;
background:#E50914;
border-radius:8px;
color:#fff;
}
